.header {
  background: var(--gray-800);
  font-size: 1.625rem;
  padding: 1.25rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

}

.header img {
  width: 3rem
}