.taskBox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    background-color: var(--gray-500);
    width: 100%;
    padding: 16px;
    height: 72px;
    border-radius: 8px;
    border: 2px solid var(--gray-400);
}

.taskBox p {
    font-size: 14px;
    color: var(--gray-100);
    width: 632px;
    height: 40px;
}

.taskBox input {
    
}